@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@layer components{
  .background{
    @apply bg-[#ece6c2] pt-10 pb-4 px-6 min-h-screen max-h-max justify-center;
  }
  .custom-text{
    @apply text-[#6f5643] font-sans;
  }

  .canvas{
    @apply bg-white border-2 border-gray-400 size-11/12;
  }

  .timer{
    @apply bg-[#cc6b49] text-[#ece6c2] text-6xl px-5 py-2 self-baseline justify-self-center;
  }

  .text-entry-box{
    @apply text-4xl mx-auto;
    @apply w-1/6;
    @apply p-4;
  }

  .table{
    @apply overflow-x-auto text-xl;
  }
  .borders{
    @apply border-2 border-solid border-[#6f5643];
  }
  .table-header{
    @apply bg-[#499b83] text-[#6f5643] px-12 py-3;
  }
  .table-data{
    @apply bg-[#73bda8] text-[#6f5643] px-12 py-3;
  }

  .header{
    @apply text-[#6f5643] text-7xl mx-auto;
  }
  .sub-header{
    @apply text-[#6f5643] text-5xl mx-auto;
  }
  .large-text{
    @apply text-[#6f5643] text-2xl mx-auto;
  }
  .large-text-nomargin{
    @apply text-[#6f5643] text-3xl;
  }

  .red-button{
    @apply bg-[#cc6b49] text-[#ece6c2] hover:bg-[#9d492c] w-1/5 p-2 my-2 mx-auto text-4xl rounded-lg;
  }
  .yellow-button{
    @apply bg-[#d2a24c] text-[#ece6c2] hover:bg-[#a77b2a] w-1/5 p-2 my-2 mx-auto text-4xl rounded-lg;
  }
  .brown-button{
    @apply bg-[#6f5643] text-[#ece6c2] hover:bg-[#3f3126] w-1/5 p-2 my-2 mx-auto self-center text-4xl rounded-lg;
  }
  .blue-button{
    @apply bg-[#73bda8] text-[#ece6c2] hover:bg-[#499b83] w-1/5 p-2 my-2 mx-auto self-center text-4xl rounded-lg;
  }

  .rule-text {
    @apply w-fit p-2 mx-auto text-center text-balance;
  }
  .display-linebreak {
    white-space: pre-line;
  }
}